@charset "utf-8";
/* CSS Document */

body{
   overflow:hidden;
   height:100%;
   width:100%;
}

/*БЛОКИ СТРАНИЦЫ BEGIN******************/
#content{
	margin:0;
	padding:0;
}		
/*БЛОКИ СТРАНИЦЫ END********************/

/*ФОНОВОЕ ИЗОБРАЖЕНИЕ BEGIN*************/
img{   
   width: 100%;
   height:100%;
}
/*ФОНОВОЕ ИЗОБРАЖЕНИЕ END***************/

/*ТЕКСТ BEGIN***************************/
.text{
   top: 25%; 
   left: 2%; 
   width: 100%; 
   position:absolute;
}
/*ТЕКСТ ENG***************************/

/*BUTTON BEGIN**************************/

button.join {
    background: #ff6600;
    border: 1px solid #999;
    border-radius: 3px;/*радиус скругления углов*/
    color: #000;
    font: bold 15px Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1; /*интерльяж*/
    padding: 8px 0px 9px;/*растояние от внутреннего края рамки*/
    text-align: center;
    width: 200px; 
    margin:0px 10px; 
}

button.join:hover {
    background: #ccc;
    color: #222;
    cursor: pointer; 
}

button.join:active {
    background: #ccc;
    color: #000; 
}
/*BUTTON END****************************/
